/* Color theme for the dark mode */
:root {
  --base: #232136;
  --surface: #2a273f;
  --muted: #6e6a86;
  --subtitle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ea9a97;
  --pine: #3e8fb0;
  --foam: #9ccfd8;
  --iris: #c4a7e7;

  --color-modrinth: var(--pine);
  --color-builtbybit: var(--foam);
  --color-youtube: var(--love);
  --color-github: var(--iris);
}

.lightmode {
  --base: #faf4ed;
  --surface: #f2e9e1;
  --muted: #9893a5;
  --subtitle: #797593;
  --text: #575279;
  --love: #b4637a;
  --gold: #ea9d34;
  --rose: #d7827e;
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;

  --color-modrinth: var(--pine);
  --color-builtbybit: var(--foam);
  --color-youtube: var(--love);
  --color-github: var(--iris);
}

/* Font */
@font-face {
  font-family: "Minibyte";
  src: url("fonts/Minibyte.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base);
  color: var(--subtitle);
  font-family: "Minibyte", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.header {
  background-color: var(--surface);
  padding: 0.5rem;
  height: 3rem; /* Fixed height */
  display: flex; /* Flexbox for alignment */
  justify-content: center; /* Center the navigation bar horizontally */
  align-items: center; /* Center items vertically */
  transition: background-color 0.1s ease, color 0.1s ease;
}

.pixel-nav {
  display: flex; /* Ensure nav items are in a row */
  justify-content: center; /* Center items horizontally */
  gap: 1.5rem; /* Space between nav items */
  height: 100%; /* Stretch to fill the header height */
  align-items: center; /* Center items vertically */
}

.nav-link {
  font-size: 2rem;
  line-height: 1;
  color: var(--rose);
  text-decoration: none;
  white-space: nowrap; /* Prevent text wrapping */
}

.active-page {
  color: var(--love);
}

#mode-switch {
  line-height: 1;
  font-size: 2rem;
  font-family: "Minibyte";
  background: none;
  border: none;
  color: var(--text);
  padding: 0;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.pixel-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about_title{
  color: var(--gold);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.platforms_title{
  color: var(--text);
  font-size: 3rem;
  margin-bottom: 1rem;
  }

.contact_title{
  color: var(--text);
  font-size: 3rem;
  margin-bottom: 1rem;
  }

.donate-button {
  font-size: 3rem;
  color: var(--love);
  text-decoration: underline;
  margin-bottom: 1rem
}

.platform-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 1rem;
}

.platform-name {
  font-size: 2rem;
  line-height: 1.3;
  margin-right: 0.5rem;
}

.platform-description {
  font-size: 2rem;
  line-height: 1.3;
}

.modrinth-link a {
  color: var(--color-modrinth);
}
.builtbybit-link a {
  color: var(--color-builtbybit);
}
.youtube-link a {
  color: var(--color-youtube);
}
.github-link a {
  color: var(--color-github);
}


.discord-button {
  color: var(--iris);
  font-size: 2rem;
  cursor: pointer;
}


#discord-copy.copied {
  color: var(--love);
}



.footer-text {
  padding: 1;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.3;
  color: var(--muted);
}